body{
    margin:0;
}

nav{
    position: fixed;
    width: 100%;
    height:50px;
    background-color: rgba(0, 0, 0, 0);
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    gap:3rem;
    z-index: 15;
    transition: 0.2s linear;
}

nav button{
    font-size: 1.5rem;
    margin-top :0.45rem;
    border:none;
    z-index: 10;
    /* font-family: 'JAPAN RAMEN'; */
    background-color: transparent;
    font-family: 'RAMEN ICHIKARU';
    color:white;
    cursor: pointer;
}

nav button:hover{
    color: #ffd700;
    transition: 0.3s;
}

#content
{
    height:fit-content;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.footer {
    background: #000000;  /* Ichiraku red */
    color: white;
    margin-top: 80px;
    padding-top: 40px;
    border-top: 4px solid black;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
    gap: 30px;
}

.footer-logo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Freckle Face', cursive; /* your ninja heading font */
}

.footer-contact p {
    margin: 4px 0;
    font-size: 16px;
}

.footer-jp {
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Shippori Antique B1', sans-serif;
}

.footer-bottom {
    text-align: center;
    margin-top: 25px;
    padding: 15px 0;
    border-top: 1px solid rgba(255,255,255,0.4);
    font-size: 15px;
    opacity: 0.9;
}


/* Home Page CSS */

.mainHeading
{
    height:fit-content;
    width:100%;   
    display: flex; 
    position: relative;
}

.narutoImage
{
    height: 85vh;
    margin-left:auto;
}

.mainName
{
    position: absolute;
    width:100%;
    height:100%;
    /* background: #ff0000; */
    background: linear-gradient(87deg, rgb(194, 0, 0) 40%, rgba(13, 13, 13, 0) 100%);
    text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.main-logo
{
    height:150px;
    width:auto;
    width:120px;
    padding-left: 12.5rem;
    margin-bottom: 1rem;
    animation: Headingpop 0.4s ease-in-out;
}

.mainNameHeading
{
    font-family: "JAPAN RAMEN" ;
    font-size: 5rem;
    color: white;
    padding-left: 3rem;
    margin:0;
    animation: Headingpop 0.4s ease-in-out;
}

.mainHeadingPara
{
    font-family: "JAPAN RAMEN" ;
    font-size:2rem;
    color:white;
    margin:0;
    padding-left: 5rem;
    animation: Headingpop 0.4s ease-in-out;
}


.rameninfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    /* flex-wrap: wrap; */
    width:inherit;
}

.cards-section
{
    display: flex;
    align-items: center;
    height:auto;
    width:inherit;
    justify-content: center;
    gap:1rem;
}

/* Each ramen card */
.RamenCard {
    width: 260px;
    background: #faf7f2 url('washi-texture.jpg');
    border: 3px solid black;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:300px;
}

/* Hover effect */
.RamenCard:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}

/* Image container */
.RamenCard .ramenimage {
    width: 200px;
    height: 200px;
    object-fit: contain;
    background: rgba(255, 255, 255, 0);
    animation: rotating 25s infinite linear;
}

.ramen-head{
    font-family: 'NINJA SHUSHI', sans-serif;
    text-align: start;
    width:95%;
    font-size: 2.8rem;
    margin:0;
    border-bottom: black solid 5px;
    border-bottom-style: double ;
    /* padding-left: 1rem; */
}

/* Name section (optional if you want names) */
.ramen-name {
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    padding: 15px;
}

.aboutSection
{
    width:95%;
    height:fit-content;
    display: flex;
    border:2px black solid;
    margin-bottom:3rem;
    padding:1rem;
    background: url("redbackgroundpattern.jpg");
    background-size: contain;
    border-radius: 10px;
    gap:1rem;
    /* margin-right:auto; */
    /* margin-left: ; */
}

.chefHeading
{
    font-family: 'NINJA SHUSHI', sans-serif;
    margin:0;
    margin-top:3rem;
    width:95%;
    text-align: start;
    margin-bottom: 0.5rem;
}

.ichikaruImg{
    height:240px;
    width:250px;
    background-color:rgb(255, 255, 255) ;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px rgb(40, 40, 40);
}

.chefInfo
{
      font-family: 'M PLUS Rounded 1c', sans-serif;
      font-size: 18px;
    line-height: 1.6;
    color: #ffffff;
    margin:0;
}

@font-face {
    font-family: 'JAPAN RAMEN';
    src: url('./JapanRamen.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RAMEN ICHIKARU';
    src: url('./RAMEN ICHIKARU.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NINJA SHUSHI';
    src: url('NinjaSushi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@keyframes Headingpop {
    
    from{
        transform: translateX(-50px);
        opacity:0;
    }

    to{
        transform: translateX(0px);
        opacity:1;
    }
}

@keyframes rotating {

    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
    
}

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap');

/* Menu Page */
