body
{
    font-family: "Alan Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    /* background-color: rgba(249, 163, 163, 0.362); */
    margin: 0;
}

.mainheading h1
{

    text-align: center;
    margin: 0rem;
    padding-block: 0.5rem;
    display: flex;
    justify-content: center;

    border-bottom: 2px solid black;
}

.mainheading h1 .bkcolor
{
    width:fit-content;
    background: linear-gradient(to right, rgb(0, 179, 255), rgb(255, 0, 0));
    background-clip: text;
    color: rgba(255, 255, 255, 0);
    font-weight: 600;
}

.playground 
{
    display : flex;
    height: fit-content;
    width:80%;
    margin:auto;
    justify-content: space-around;
    align-items: center;

}

.playground h3
{
    text-align: center;
}

.playground .human
{
    display: flex;
    flex-direction: column;
}

.playground .computer
{
    display: flex;
    flex-direction: column;
}

.playground .card
{
    width:15rem;
    height:18rem;
    /* background-color: blueviolet; */
    box-sizing: border-box;
    border-radius: 7%;
    box-shadow: 0px 0px 15px 1px rgba(128, 128, 128, 0.326);
    
}

.playground .humanchoicecard
{
    /* background-image: url("rockhuman.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.playground .computerchoicecard
{
    /* background-image: url("computerscissor.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.playground .versus
{
    width:10rem;
    height: 10rem;
    background-image: url("vs1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.instructionclass
{
    width:100%;
    height:39px;
    text-align: center;
    margin-block: 1.5rem;
    font-family: "Inter", sans-serif;
    font-size: 2rem ;
    font-weight: 400;
}

.choosingcards
{
    display:flex;
    width:45%;
    justify-content: space-between;
    margin: auto;
}

.choosingcards .minicards
{
    width: 10rem;
    height: 10rem;
    /* background-color: blue; */
    border-radius: 10%;
    box-shadow: 0px 0px 15px 1px rgba(128, 128, 128, 0.326);
    cursor: pointer;
}

.scorecard
{
    width:7rem;
    height: 7rem;
    /* background-color: rgb(255, 255, 255); */
    text-align: center;
    font-family: "Digital7";
    font-size: 6rem;
    font-weight: 200;
}

#rock
{
    background-image: url("rockhuman.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#paper
{
    background-image: url("paperhuman.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#scissor
{
    background-image: url("scissorshuman.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.choosen
{
    scale: 1.05;
    /* box-shadow: 0px 0px 15px 1px rgba(0, 185, 25, 0.571) !important; */
    box-sizing: border-box;
    border: 3px solid black;
}

@keyframes jump
{
    0% { transform: scale(1);}
    50% { transform: scale(1.1);}
    100% { transform: scale(1);}
}

.winninganimation
{
    animation: jump normal 0.5s linear;
}

@font-face
{
    font-family: "Digital7";
    src : url("Digital7-rg1mL.ttf") format("truetype");
}

.dialoge-box
{
    display: none; 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index:99;

    justify-content: center;
    align-items: center;
}

.dialoge-box-content
{
    min-width:23rem;
    height: 12rem;
    background-color: aliceblue;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    padding-inline: 1rem;
}

.dialoge-box-content p
{
    font-size:1.75rem;
    font-weight: 600;
    margin:0;
}

#Playagain
{
    width:7rem;
    height: 2.5rem;
    cursor:pointer;
    outline: none;
    background-color: rgb(0, 157, 255);
    color:white;
    font-weight: 700;
    border: none;
    border-radius: 0.45rem;
    font-size:medium;
}

#Playagain:hover
{
    background-color: rgb(1, 134, 216);

}