 body{
    margin:0;
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator
{
    width: 300px;
    padding:0.5rem;
    height:440px;
    display:flex;
    flex-direction: column;
    border: solid 1px black;
    padding:0;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(48, 48, 48);
}

.display
{
    width:100%;
    min-height:5rem;
    /* border: solid black 2px; */
    display: flex;
    justify-content: end;
    align-items: end;
    padding:0.5rem;
    box-sizing: border-box;
    padding-bottom: 0;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: white;
}

.keypad
{
    display: grid;
    width:100%;
    height:100%;
    box-sizing: border-box;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5, 1fr);
    gap:0.25rem;
    padding:0.5rem;
}

.button
{
    /* background-color: brown; */
    width:100%;
    height:100%;
    border-radius: 25%;
    outline: none;
    border: none;
    font-size: medium;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#AC
{
    grid-column: 1/3;
    border-radius: 10px;
}

.keypad .equals
{
    grid-column: 3/5;
    border-radius: 10px;
    background-color: rgb(235, 153, 0);
    color: black;
}

.number
{
    background-color: rgb(79, 79, 79);
    color:rgb(255, 255, 255);
}

.special
{
    background-color: rgb(241, 241, 241);
    color:black;
}

.button:hover{
    opacity:0.8 !important;
}

.button:active
{
    opacity:0.6 !important;
}

@media (orientation: portrait)
{
    .calculator{
        width:100%;
        height:100%;
        justify-content: end;
    }

    .keypad{
        height:65%;
    }

    .display{
        font-size: 2.5rem;
    }
}