body{
    background-color:#293645;
    display: flex;
    flex-direction: column;
    gap:1rem;
    width:fit-content;
    margin:auto;
    position: relative;
}

.dialog-box
{
    width:300px;
    padding:1rem;
    height:fit-content;
    border: 3px solid rgb(111, 111, 111);
    border-radius: 5px;
}
.dialog-box input[type="text"]
{
    width:100%;
    height:1.5rem;
    border:none;
    border-bottom: 2px #293645 solid;
    background-color: #fafafa;
    font-size: 1rem;
}

.dialog-box input[type="text"]:focus
{
    border-color: rgb(54, 164, 201);
    outline: none;
}

.player-name-label
{
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    display: block;
    margin:0;
    padding:0;
    width:100%;
}


.dialog-box input[type="radio"]
{
    display:none;
}

.dialog-box div
{
    display: flex;
    justify-content: space-evenly;
    gap:1rem;
    margin-top: 1rem;
    padding-inline: 2rem;
}

.radio-btn
{
    font-family: "Bricolage Grotesque", sans-serif;
    margin:auto;
    height:70px;
    width:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color: #f3f3f3;
    box-sizing: border-box;
}

.nxt-btn
{
    margin-top: 0rem;
}

.nxt-btn button
{
    width:fit-content;
    height:fit-content;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 1.5rem;
    padding-inline: 1.3rem;
    margin-bottom: 0.5rem;
    background-color: rgba(2, 190, 253, 0.253);
    color: rgb(0, 0, 0);
    border:rgb(58, 182, 223) 2px solid;
}

.nxt-btn button:active
{
    color: white;
    background-color: rgb(54, 164, 201);
}

::backdrop
{
    background-color: rgba(54, 54, 54, 0.382);
}

h1{
    text-align: center;
    font-family: "Space Grotesk", sans-serif;
    font-size:3rem;
    margin:0px;
    color:white;
}

.infos
{
    height: 4rem;
    width:100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.infos div
{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: larger;
    font-style: normal;
    color:white;
    width:fit-content;
    height:90%;
    gap:2rem;
    display: flex;
    align-items: center;
    padding: 0.35rem;
    box-sizing: border-box;
    opacity:1;
}

.playground 
{
    width:450px;
    height:449px;
    margin:auto;
    /* border: black 2px solid; */
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    gap:0.5rem;
    background-color: rgb(54, 164, 201);
    border:30px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.cell
{
    width:100%;
    border: none;
    background-color: white;
    font-size: 7rem;
    font-family: "Raleway", sans-serif; 
    font-weight: 600;
    font-style: normal;
    background-color: rgb(255, 255, 255);
    color:rgb(90, 90, 90);
    font-size: 6.5rem;
}

.reset-btn
{
    width:fit-content;
    height:45px;
    background-color: rgb(54, 164, 201);
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: "Space Grotesk", sans-serif;
    font-size: larger;
    font-weight: 500;
    padding:0;
    padding-inline: 0.5rem;
    gap:0.5rem;
    border-radius: 10px;
    border:none;
    margin-left: auto;
}

.reset-btn img{
    width:25px;
    height: 25px;
    rotate: 0deg;
    transition: 0.2s;
}

.reset-btn:active
{
    background-color:rgb(36, 115, 142) ;
}

.reset-btn:hover img{
    rotate: -360deg;
}

@keyframes appear
{
    0%{
        font-size: 0rem;
    }

    80%{
        font-size: 6.5rem;
    }

    90%{
        font-size: 6.4rem;
    }

    95%{
        font-size: 6.6rem;
    }

    100%{
        font-size: 6.5rem;
    }
}

.pop
{
    animation: appear 0.25s ease-in-out;
}

.white-font
{
    color:rgb(3, 192, 255);
}

#option1:checked + label
{
    background-color: rgb(240, 251, 255);
    border: 2px solid rgb(3, 192, 255);
}

#option2:checked + label
{
    background-color: rgb(240, 251, 255);
    border: 2px solid rgb(3, 192, 255);
}

.add-border
{
    opacity: 0.5 !important;
}

#winnerpop
{
    height:100px;
    width:100%;
    text-align: center;
    padding:0.5rem;
    color:rgb(255, 255, 255);
    animation: slideIn 0.3s linear;
    display: none;
    align-items: center;
    justify-content: center;
    border-color: black;
    background-color: rgba(23, 23, 23, 0.878);
    position: absolute;
    top:55%;
    left:0;
    box-sizing: border-box;
    flex-direction: column;
    gap:0.5rem;
}
#winnerpop p
{
    font-family: "Luckiest Guy", system-ui;
    font-size: medium;
    margin-top: 0;
}

#winnername
{
    font-family: "Luckiest Guy", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
}

@keyframes slideIn {
    from{
        width:0%;
        color:rgba(255, 255, 255, 0);
    }

    to{
        width:100%;
        color:rgb(255, 255, 255);
    }
}

#backdrop
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0);
    display: none;
} 

@media(orientation: portrait)
{
    body
    {
        padding-inline: 0.5rem;
    }

    .playground 
    {
        font-size: 1.5rem;
    }
}

.colorfill-animation
{
    animation: colorfill 0.5s ease-in-out;
    background-color: rgb(3, 192, 255);
    color: white;
}

@keyframes colorfill {
 
    from{
        background-color: white;
    }

    to{
        color: white;
        background-color: rgb(3, 192, 255);
    }
}