body
{
    display:flex;
    flex-direction: column;
    height:fit-content;
    padding-top:4rem;
    margin:0;
    background-color: oklch(0.98 0 0);
}

.navbar
{
    height:3rem;
    position:fixed;
    top:0;
    left:0;
    background-color: #1f2937;
    width:100%;
    z-index: 10;
    padding-inline:1rem;
    display:flex;
    align-items: center;
    /* justify-content: space-between; */
    box-sizing: border-box;
    gap:0.5rem;
    cursor: default;
}

.navbar img
{
    height: 2rem;
    width:2rem;
}

.navbar h1
{
    font-family: "IBM Plex Serif", serif;
    font-style: normal;
    text-align: start;
    font-size: 2rem;
    margin:0;
    color:white;
    padding-bottom: 0.5rem;
}
.navbar a 
{
    margin-left:auto;
}

.navbar a img
{
    height:1.5rem;
    width:1.5rem;
}

::backdrop
{
    background-color: rgba(70, 70, 70, 0.771);
}

dialog
{
    height:fit-content;
    width:fit-content;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    border:none;
}

#open-dialogbtn
{
    /* margin:auto; */
    margin-left: 90%;
    background-color: #4698fc;
    color: rgb(255, 255, 255);
    font-family: "National Park", sans-serif;
    height: fit-content;
    width:fit-content;
    padding:0.5rem;
    outline:none;
    border:none;
    border-radius: 10px;
    font-size: large;
    font-weight: 800;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem
}

dialog h2
{
    margin-bottom:0.5rem;
    font-family: "National Park", sans-serif;
    text-align: center;
}

dialog .dialog-contents
{
    height:fit-content;
    width:350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-inline: 1.5rem;
    gap:1rem;
    background-color: rgb(241, 241, 241);
    padding-bottom: 0.5rem;
}

dialog .dialog-contents input
{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    width:100%;
    border:none;
    border-bottom: 2px black solid;
    outline:none;
    height:1.5rem;
    font-size: 1.1rem;
    margin-top: 0.5rem;
}

dialog .dialog-contents label
{
    font-size: 1.1rem;
    font-weight: 700;
     font-family: "National Park", sans-serif;
}

dialog .dialog-contents select
{
    margin-top: 0.5rem;
    width:100%;
    height:1.5rem;
    font-size: 1rem;
}



dialog .dialog-contents .buttons
{
   margin-top: auto;
   display: flex;
   justify-content: space-around;
   padding-top: 0.5rem;
}

dialog .dialog-contents .buttons button
{
    height:2.5rem;
    width:5rem;
    font-weight: 600;
    background-color: #4698fc;
    color:rgb(255, 255, 255);
    border:none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.library
{
    
    background-color: rgb(255, 255, 255);
    display: grid;
    /* grid-template-columns: auto; */
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows:auto;
    min-height: 250px;
    width:90%;
    border: 2px solid;
    border-color: rgb(233, 233, 233);
    box-sizing: border-box;
    margin:auto;
    margin-top: 2rem;
    gap:1rem;
    padding:1rem;
    border-radius: 20px;
}

.book
{
    height:220px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(238, 238, 238);
    position: relative;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0px rgba(202, 202, 202, 0.553);
    transition: 0.2s ease;
    animation: fadeIn 0.2s linear 1;
    z-index: 1;
}

.book h3{
    font-family: 'Inter',"Fira Sans", sans-serif;
    text-align: center;
    height: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin:0;
    border-radius: inherit;
}

.book img{
    height:25px;
    width:25px;
    position:absolute;
    right:5px;
    top:5px;
    cursor:pointer;
    opacity:0;
    transition: all 0.3s ease-in-out;
}

.book .author{
    font-family: "inter","IBM Plex Serif", serif;
    font-style: italic;
    margin:0;
}

.book .category{
    font-family:"Noto Sans", sans-serif;
    font-size: small;
    margin:0;
    margin-top:auto;
    margin-bottom:0;
    width:fit-content;
    padding-inline:0.4rem;
    box-sizing: border-box;
    /* border: solid rgb(128, 94, 0) 2px; */
    border-radius: 5px;
    background-color: rgb(0, 141, 141);
    color: rgb(255, 251, 228);
    font-weight: 600;
}

.book .readClass , .AlreadyreadClass{
    display: block;
    width:100%;
    height:auto;
    padding: 0.35rem;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Inter', 'arial';
    font-size: 0.85rem;
    font-weight: 600;
    text-align: center;
    border: 2px solid  rgb(0, 90, 163);
    background-color: rgb(228, 245, 255);
    color:rgb(0, 114, 163);
}

.AlreadyreadClass
{
    display: none;
    border: 2px solid  rgb(0, 163, 0);
    background-color: rgb(228, 255, 231);
    color:rgb(1, 126, 20);
}

#empty-card
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

#empty-card h3
{
    margin:0;
}

#empty-card p
{
    margin:0;
    font-family: "Poppins", sans-serif;
    color:rgb(97, 97, 97);
    text-align: center;
}

#empty-card-button
{
    background-color: #4698fc;
    color: rgb(255, 255, 255);
    font-family: "National Park", sans-serif;
    height: fit-content;
    width:fit-content;
    padding:0.5rem;
    outline:none;
    border:none;
    border-radius: 10px;
    font-size: medium;
    font-weight: 800;
    cursor: pointer;
}

.book input[type = "checkbox"]{
    display:none;
}

.book input[type = "checkbox"]:checked ~ .readClass
{
    display: none;

}



.book input[type = "checkbox"]:checked ~ .AlreadyreadClass
{
    display: block;
}

.book:hover img{
    opacity: 1;
}

dialog .dialog-contents input:focus
{
    border-bottom: 2px #157bf8 solid;
}

dialog .dialog-contents .buttons button:hover
{
    background-color: #2b89fd ;
}

dialog .dialog-contents .buttons button:active
{
    background-color:#368ffd;
}

#open-dialogbtn:hover
{
    background-color:#328eff ;
}

#open-dialogbtn:active
{
    background-color:#368ffd;
}

#empty-card-button:hover
{
    background-color: #2a8aff ;
}

.book:hover
{
    transform: scale(1.005);
    box-shadow: 0px 15px 10px 0px rgba(202, 202, 202, 0.553);
}

@keyframes fadeIn
{
    from{
        opacity: 0;
        transform: translateY(10px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}



@media (orientation: portrait)
{
    .navbar h1
    {
        font-size: x-large;
        padding-top:0.5rem
    }

    #open-dialogbtn
    {
        margin:auto;
    }

    .library
    {
            width:70%;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: auto;
    }

    .book
    {
        background-color: rgb(255, 255, 255);
    }

    dialog .dialog-contents 
    {
        width:250px;
    }

    dialog .dialog-contents input
    {
        height:1.75rem;
    }

    dialog .dialog-contents select
    {
        height:1.75rem;
    }

    .book img
    {
        opacity: 1;
    }

}