body
{
  height:100vh;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:0;
}

h1
{
  margin-top:0;
  margin-bottom: 0rem;
}

p{
  margin:0;
  text-align: center;
  margin-bottom: 1rem;
}

.container
{
  width:525px;
  height:525px;
  display:flex;
  flex-direction: column;
  border: 2px solid black;
}

.row-class
{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: row;
}
.cell-class
{
  width:100%;
  height: 100%;
}

.btn-div
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:525px;
  margin-top: 0.5rem;
}

button
{
  width:fit-content;
  height: fit-content;
  outline: none;
  font-family: 'Nunito Sans', 'Poppins',  sans-serif;
  font-weight: 100;
}

.inputting
{
  display: flex;
  height:fit-content;
  width:525px;
  gap:0.25rem;
  justify-content: space-between;
  align-items: center;
  font-family: 'Nunito Sans', 'Poppins',  sans-serif;
  margin-bottom: 1rem;

}

input[type = "number"]
{
  height: 1rem;
  width:11.5rem;
}